.image {
    height: 150px;
    object-fit: cover;
}


.container {
    max-width: 100%;
}

.anime {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 1px 6px 10px 0px rgba(112,112,112, .3);
    -moz-box-shadow: 1px 6px 10px 0px rgba(112,112,112, .3);
    box-shadow: 1px 6px 10px 0px rgba(112,112,112, .3);
}